# NOTE: PySimpleGUI is hosted on a private PyPI server.
# Before reinstalling, remove any version installed from PyPI and clear pip cache:
#   python -m pip uninstall PySimpleGUI
#   python -m pip cache purge
# Then install requirements using the extra index URL below (this preserves access to the public PyPI):
#   python -m pip install -r requirements.txt --extra-index-url https://PySimpleGUI.net/install

--extra-index-url https://PySimpleGUI.net/install

langchain>=0.1.0
langchain-google-genai>=0.0.1
langchain-openai>=0.0.2
openai>=1.0.0
python-magic>=0.4.27; sys_platform != 'win32'
python-magic-bin>=0.4.14; sys_platform == 'win32'
pefile>=2023.2.7
PySimpleGUI>=5.0.8.3
pyyaml>=6.0
requests>=2.28.0
pypdf>=3.0.0
Pillow>=10.2.0
ffmpeg-python>=0.2.0
